{{- $alt := .Text | plainify -}}
{{- $res := "" -}}
{{- with .Page.Resources.GetMatch .Destination -}}
  {{- $res = . -}}
{{- end -}}
<figure>
  {{- if $res }}
  <img src="{{ $res.RelPermalink }}" alt="{{ $alt }}" width="{{ $res.Width }}" height="{{ $res.Height }}" loading="lazy" decoding="async"{{ with .Title }} title="{{ . }}"{{ end }}>
  {{- else }}
  <img src="{{ .Destination | safeURL }}" alt="{{ $alt }}" loading="lazy" decoding="async"{{ with .Title }} title="{{ . }}"{{ end }}>
  {{- end }}
  {{ with .Title }}<figcaption>{{ . }}</figcaption>{{ end }}
</figure>
