{{- $cover := "" -}}
{{- with .Params.cover -}}
  {{- $cover = printf "%v" . -}}
{{- end -}}
{{- if not $cover -}}
  {{- with .Params.image -}}
    {{- $cover = printf "%v" . -}}
  {{- end -}}
{{- end -}}
{{- if not $cover -}}
  {{- with .Params.featured_image -}}
    {{- $cover = printf "%v" . -}}
  {{- end -}}
{{- end -}}
{{- if not $cover -}}
  {{- $matches := findRESubmatch `<img[^>]+src=["']([^"']+)["']` .Content 1 -}}
  {{- with index $matches 0 -}}
    {{- $cover = index . 1 -}}
  {{- end -}}
{{- end -}}
{{- with and $cover (.Resources.GetMatch $cover) -}}
  {{- $cover = .RelPermalink -}}
{{- end -}}
{{- return $cover -}}
