{{- $paginator := .Paginator -}}
{{- if gt $paginator.TotalPages 1 }}
  <nav class="pagination" aria-label="{{ i18n "pagination" }}">
    <div class="pagination-edge">
      {{- if ne $paginator.PageNumber 1 }}
        <a href="{{ $paginator.First.URL }}" aria-label="{{ i18n "firstPageLabel" }}">{{ i18n "firstPage" }}</a>
      {{- else }}
        <span class="is-disabled" aria-disabled="true">{{ i18n "firstPage" }}</span>
      {{- end }}
      {{- with $paginator.Prev }}
        <a href="{{ .URL }}" rel="prev">{{ i18n "previousPage" }}</a>
      {{- else }}
        <span class="is-disabled" aria-disabled="true">{{ i18n "previousPage" }}</span>
      {{- end }}
    </div>

    <div class="pagination-pages" aria-label="{{ i18n "pageNumbers" }}">
      {{- range $paginator.Pagers }}
        {{- if and (ge .PageNumber (sub $paginator.PageNumber 2)) (le .PageNumber (add $paginator.PageNumber 2)) }}
          {{- if eq .PageNumber $paginator.PageNumber }}
            <span class="is-current" aria-current="page" aria-label="{{ i18n "currentPageLabel" (dict "Number" .PageNumber) }}">{{ .PageNumber }}</span>
          {{- else }}
            <a href="{{ .URL }}" aria-label="{{ i18n "goToPageLabel" (dict "Number" .PageNumber) }}">{{ .PageNumber }}</a>
          {{- end }}
        {{- end }}
      {{- end }}
    </div>

    <div class="pagination-edge pagination-edge-next">
      {{- with $paginator.Next }}
        <a href="{{ .URL }}" rel="next">{{ i18n "nextPage" }}</a>
      {{- else }}
        <span class="is-disabled" aria-disabled="true">{{ i18n "nextPage" }}</span>
      {{- end }}
      {{- if ne $paginator.PageNumber $paginator.TotalPages }}
        <a href="{{ $paginator.Last.URL }}" aria-label="{{ i18n "lastPageLabel" }}">{{ i18n "lastPage" }}</a>
      {{- else }}
        <span class="is-disabled" aria-disabled="true">{{ i18n "lastPage" }}</span>
      {{- end }}
    </div>
  </nav>
{{- end }}
