{{- $categories := .Params.categories | default (slice) -}}
{{- $tags := .Params.tags | default (slice) -}}
<article class="post-card" data-filter-item data-categories="{{ $categories | jsonify }}" data-tags="{{ $tags | jsonify }}">
  <time class="post-date" datetime="{{ .Date.Format "2006-01-02" }}">
    <strong>{{ .Date.Format "01.02" }}</strong>
    <span>{{ .Date.Format "2006" }}</span>
  </time>
  <div class="post-card-body">
    <div class="post-card-meta">
      <span>{{ i18n "wordCount" (dict "Count" .WordCount) }}</span>
      <span>{{ i18n "imageCount" (dict "Count" (strings.Count "<img" .Content)) }}</span>
    </div>
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    <div class="post-card-summary">
      <p>{{ with .Description }}{{ . }}{{ else }}{{ .Summary | plainify }}{{ end }}</p>
      <a class="read-more" href="{{ .RelPermalink }}" aria-label="{{ i18n "readPost" (dict "Title" .Title) }}">{{ i18n "readMore" }} <span aria-hidden="true">→</span></a>
    </div>
  </div>
</article>
